<h1>Signup</h1>
<form action="/signup" method="post">

  <label for="firstname">firstname</label>
  <input name="firstname" type="text"/>
  <br/>
  <label for="lastname">lastname</label>
  <input name="lastname" type="text"/>
  <br/>
  <label for="email">email</label>
  <input name="email" type="email"/>
  <br/>

  <label for="password">Choose a Password</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>