<form id="uploadForm"
      enctype="multipart/form-data"
      action="/admin/post/article"
      method="post">
      	<label for="title">title</label>
      	<input type="text" name="title" />
      	<br/>
      	<label for="article">article</label>
      	<input type="text" name="article" />
      	<br/>
      	<label for="uploadFile">upload image</label>
    	<input type="file" name="uploadFile" />
    	<input type="submit" value="submit"/>
</form>